<div class="container" id="exp">
    <div class="row">
        <div class="col-sm-11">
            <h5>Experiencia</h5>
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn" id="añadirexp" data-bs-toggle="modal" data-bs-target="#experienciaModal" *ngIf="authService.logIn">
                <img src="./assets/imagenes/añadir.png" class="imgañadir">
            </button>
        </div>
    </div>
    <ul class="listaDeItems" style="list-style-type: none;">
        <li *ngFor="let experiencia of experienciaList">
            <div class="row" [id]="experiencia.id">
                <div class="col-sm-1">
                    <img [src]="experiencia.imagen" [id]="experiencia.idImagen" class="rounded float-start">
                </div>
                <div class="col-sm-9">
                    <h4>{{experiencia.puesto}}</h4>
                    <p class="negocio">{{experiencia.local}} - {{experiencia.jornada}}</p>
                    <p class="fecha">{{experiencia.fecha}}</p>
                    <p class="localidad">{{experiencia.ciudad}}</p>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn" (click)="llenarEditarExperiencia(experiencia.id)" *ngIf="authService.logIn">
                        <img src="./assets/imagenes/editar.png" class="imgeditar">
                    </button>
                    <button type="button" class="btn" (click)="borrarExperiencia(experiencia)" *ngIf="authService.logIn">
                        <img src="./assets/imagenes/eliminar.png" class="imgeliminar">
                    </button>
                </div>
            </div>
        </li>
    </ul>
</div>