<header>
  <app-header></app-header>
</header>
<main>
  <div class="contenedorPrincipal" id="cuerpo">
    <app-banner></app-banner>
    <app-acerca-de></app-acerca-de>
    <div class="educacionyExp">
      <app-experiencia></app-experiencia>
      <app-educacion></app-educacion>
    </div>
    <app-habilidades></app-habilidades>
    <app-proyectos></app-proyectos>
  </div>
</main>
<app-login></app-login>
<app-modal-educacion></app-modal-educacion>
<app-modal-habilidades></app-modal-habilidades>
<app-modal-experiencia></app-modal-experiencia>
<app-modal-proyectos></app-modal-proyectos>
<app-modalperfil></app-modalperfil>