<div class="modal fade" id="editInfoPerfilModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="formEd">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Editar Perfil</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="editNombrePerfil" class="form-label">Nombre Completo</label>
                        <input type="text" class="form-control" id="editNombrePerfil" aria-describedby="editNombrePerfil" formControlName="nombreEd">
                    </div>
                    <div class="mb-3">
                        <label for="editProfesionPerfil" class="form-label">Profesión</label>
                        <input type="text" class="form-control" id="editProfesionPerfil" aria-describedby="editProfesionPerfil" formControlName="profesionEd">
                    </div>
                    <div class="mb-3">
                        <label for="editCiudadPerfil" class="form-label">Ciudad</label>
                        <input type="text" class="form-control" id="editCiudadPerfil" aria-describedby="editCiudadPerfil" formControlName="ciudadEd">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <input type="button" id="botonEditarInfoPerfil" class="btn btn-primary" value="Añadir" (click)="editarPerfil()">
                </div>
            </form>
        </div>
    </div>
</div>